.singUpPage{
  background-color: rgb(11, 77, 77);
  background-image: linear-gradient(to right,rgb(3, 59, 59),black,rgb(62, 3, 62));
  margin: auto;
  width: 45%;
  border-radius: 10px;
  padding:0 0 20px;
}
.singUpPage form{
  background-color: rgb(4, 58, 67);
  margin: auto;
  width: 500px;
  border-radius: 10px;
 
 
}
.singUpPage form ,label,input{
  display: grid;
  text-align: left;
  padding: 5px;
}
.singUpPage label{
  text-transform: uppercase;

}
.singUpPage input{
  border: 1px solid black ;
  border-radius: 5px;
}
