
.signInForm{
    background-color: rgb(34, 42, 42);
    background-image: linear-gradient(to right,rgb(64, 4, 64),black,rgb(105, 9, 105));
    opacity: .8;
    margin: auto;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    align-content: center;
}
.signInForm h1{
    text-align: center;
    font-size: 30px;
    color: magenta;
    margin: 10px;
    padding: 10px;
}
.signInForm form{
    background-color: rgb(52, 55, 58);
    margin: auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 5px;
   
   
}
.signInForm form ,label,input{
    display: grid;
    text-align: left;
    padding: 5px;
}
.signInForm label{
    text-transform: uppercase;

}
.signInForm input{
    border: 1px solid black ;
    border-radius: 5px;
}